<div class="bg-container">
  <div class="signup-card text-center">
    <img src="https://cdn-icons-png.flaticon.com/512/2748/2748558.png" alt="Forgot Icon" class="login-icon" />
    <h4 class="mb-3">Forgot Your Password?</h4>
    <p class="mb-4">Enter your email address and we’ll send you a reset link.</p>
    <form>
      <div class="form-group">
        <i class="bi bi-envelope input-icon"></i>
        <input type="email" class="form-control" placeholder="Email Address" required />
      </div>
      <button type="submit" class="btn login-btn w-100">Send Reset Link</button>

      <div class="signup-text text-center mt-3">
        Remember your password? <a routerLink="/login">Login</a>
      </div>
    </form>
  </div>
</div>
