 <!-- <div class="bg-container">
    <div class="login-card text-center text-white">
     <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Signup Icon" class="login-icon" />
      <h4 class="mb-4">Login to Your Account</h4>
      <form>
        <div class="form-group">
          <i class="bi bi-person input-icon"></i>
          <input type="text" class="form-control" placeholder="Username" required />
        </div>
        <div class="form-group">
          <i class="bi bi-lock input-icon"></i>
          <input type="password" class="form-control" placeholder="Password" required />
        </div>

        <div class="extra-links mb-3 text-start text-white">
          <div>
            <input class="form-check-input" type="checkbox" id="rememberMe" />
            <label class="form-check-label" for="rememberMe"> Remember me </label>
          </div>
          <a href="#" class="text-warning">Forgot password?</a>
        </div>

        <button type="submit" class="btn btn-primary login-btn w-100">LOGIN</button>

        <div class="signup-text text-center">
          New user? <a href="">Create an account</a>
        </div>
      </form>
    </div>
  </div> -->

  <div class="container mt-4">
  <h4 class="text-center mb-4">Course Management</h4>

  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center align-middle">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Category</th>
          <th>Duration</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courseList">
          <td>{{ course.id }}</td>
          <td>{{ course.title }}</td>
          <td>{{ course.category }}</td>
          <td>{{ course.duration }}</td>
          <td>
            <span class="badge bg-success" *ngIf="course.status === 'Active'">{{ course.status }}</span>
            <span class="badge bg-secondary" *ngIf="course.status === 'Inactive'">{{ course.status }}</span>
          </td>
          <td>
            <button class="btn btn-primary btn-sm me-2">Edit</button>
            <button class="btn btn-danger btn-sm">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
